<ion-view id="assets" show-tabs>

  <ion-nav-bar class="bar-royal">
    <ion-nav-title>Assets</ion-nav-title>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        <button class="button back-button" ng-click="getAssets()">
          Refresh
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding">
    <ion-refresher
      ng-if="isAndroid"
      pulling-icon="ion-ios-refresh"
      spinner="ios-small"
      on-refresh="onRefresh()">
    </ion-refresher>
    <div class="cc-assets-list-view">
        <div class="cc-assets-list" ng-show="assets">
            <div ng-repeat="asset in assets | orderBy:['assetName', 'utxo.txid']"
                ng-click="openAssetModal(asset)"
                class="row collapse cc-assets-list-item last-transactions-content">
                <div class="large-1 medium-1 small-1 columns cc-asset-icon-column text-center">
                    <img ng-src="{{ asset.icon }}" class="asset-icon icon" ng-show="asset.icon"/>
                    <img class="asset-icon icon cc-default-icon" ng-hide="asset.icon"/>
                    &nbsp;
                </div>
                <div class="large-4 medium-4 small-4 columns cc-asset-name-column">
                    <div>
                        <span class="text-bold size-16">{{ asset.metadata.assetName }}</span>
                    </div>
                    <div class="ellipsis text-gray size-14">
                        {{ asset.metadata.description }}
                    </div>
                </div>
                <div class="large-3 medium-3 small-3 columns hide-for-small">
                    <span class="size-14"><span translate>Issuer</span>: {{ asset.metadata.issuer }}</span>
                </div>
                <div class="large-2 medium-2 small-2 columns text-right">
                  <span class="size-16">
                    {{ asset.asset.amount }}
                    <i class="fi-lock" ng-show="asset.locked"></i>
                  </span>
                </div>
                <div class="large-1 medium-1 small-1 columns text-right">
                    <i class="icon-arrow-right3 size-18"></i>
                </div>
            </div>
        </div>
        <div class="issue-assets-btn">
            <button ng-click="openIssueModal()" class="button black expand round size-12 text-spacing"
                style="width: 100%; background-color: #0066cc; color: #fff;font-size: 1.2em;" translate>
                Issue New Asset
            </button>
        </div>
        <div class="cc-api-error" ng-show="error">
            <h3 translate>Error connecting to ColoredCoins</h3>
            <span class="nb">{{ error }}</span>
        </div>
        <div class="cc-no-assets" ng-show="assets && assets.length == 0">
            <h3 translate>You don't have any assets.</h3>
            <div>Click <a ng-click="openIssueModal()">here</a> to issue you first!</div>
            <span class="nb">(<span translate>This requires some Bitcoins for the miner fee</span>)</span>
        </div>
    </div>
  </ion-content>
</ion-view>