page-digiid-confirm{
  .container {
    height: 100%;
    position: relative;
    .content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .body {
        margin-top: -20vh;
        text-align: center;
        &-img {
          padding: 3rem;
        }
        &-text {
          font-size: 2.8rem;
          color: #ffffff;
        }
        &-comment {
          padding: 2rem;
          font-size: 2rem;
          color: #ffffff;
        }
      }
    }
  }
  .text-medium {
    font-weight: 800;
  }
}