page-digiid {
  .tx-history {
    img {
      width: 35px;
    }
    .action {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .url {
      font-size: 0.9em;
      span {
        color: #06c;
        font-weight: 450;
      }
    }
    .date {
      font-size: 12.5px;
    }
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .item {
    padding-left: 14px;
  }


  .icon-services {
    right: 2px;
    position: relative;    
  }

  .wallet-info {
    font-weight: 400;
    color: color($colors, light);
    height: 3rem;
    padding: 0 5px;
    img {
      float: left;
      margin-right: 4px;
    }
    .testnet {
      height: 2rem;
      width: 2rem;
      margin-top: 5px;
    }
    .testnet-text {
      color: color($colors, light);
      height: 3rem;
      width: 4rem;
    }
    .read-only {
      height: 3rem;
      width: 2rem;
    }
    .read-only-text {
      height: 3rem;
      width: 5rem;
    }
    .auditable-text {
      height: 3rem;
      width: 4rem;
    }
    .custom-bws {
      height: 3rem;
      width: 3rem;
    }
    .wallet-type {
      display: block;
      float: left;
      margin: 0 5px;
      padding-top: 5px;
      font-size: 11px;
    }
    ion-spinner {
      float: right;
      width: 20px;
      height: 20px;
      margin: 5px 5px 0 0;
      * {
        stroke: color($colors, light);
      }
    }
  }

}