<ion-modal-view ng-controller="assetDetailsController" style="width: 90%; height: 90%; top: 5%; right: 5%; bottom: 5%; left: 5%; padding: 5px">
  <ion-header-bar align-title="center" class="bar-royal">
    <button class="button button-back button-clear" ng-click="cancel()">
        Close
    </button>
    <h1 class="title">Asset</h1>
  </ion-header-bar>

  <ion-content >
    <div class="header-modal text-center">
      <div ng-show="asset.locked">
        <h4 class="title m0">
          <div class="asset-alert">
            <i class="fi-info"></i>
            <span translate>Asset is locked by pending transfer</span>
          </div>
        </h4>
      </div>
      <img ng-src="{{ asset.icon }}" ng-show="asset.icon"/>
      <div class="cc-default-icon" ng-show="!asset.icon"></div>
      <div class="size-42">
        {{ asset.metadata.assetName }}
      </div>
      <div class="size-18 m5t text-gray">
        {{ asset.metadata.description }}
      </div>
    </div>
    <div class="modal-content">
      <div style="background-color: #f4f4f4; padding: 15px 5px 5px 5px">
        <div class="text-center">
          <button class="button button-positive" style="border-color: #A0A0A0; background-color: transparent;border-radius: 18px; width: 120px;" ng-click="openTransferModal(asset)" ng-disabled="asset.locked">
            <span style="color: #1abb9b">Transfer</span>
          </button>
        </div>
        <h4 class="title m0" translate>Details</h4>
      </div>

      <ul class="no-bullet size-14 m0">
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>Asset Name</span>:
              <span class="right">
                {{ asset.metadata.assetName }}
              </span>
          </li>
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>Asset ID</span>:
              <span class="right long-line">
                {{ asset.assetId }}
              </span>
          </li>
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>Quantity</span>:
              <span class="right">
                {{ asset.asset.amount }}
              </span>
          </li>
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>Issuer</span>:
              <span class="right">
                {{ asset.metadata.issuer }}
              </span>
          </li>
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>Description</span>:
              <span class="right">
                {{ asset.metadata.description }}
              </span>
          </li>
          <li class="line-b p10 oh" ng-repeat="meta in asset.metadata.userData.meta">
              <span class="text-gray property-name" translate>{{ meta.key }}</span>:
              <span class="right">
                {{ meta.value }}
              </span>
          </li>
          <li class="line-b p10 oh">
              <span class="text-gray property-name" translate>URLs</span>:
              <span class="right text-right asset-urls">
                  <span ng-repeat="url in asset.metadata.urls">
                      <a ng-click="$root.openExternalLink(url.url)">{{ url.name }}</a><br/>
                  </span>
              </span>
          </li>
      </ul>

      <div class="m10t oh" ng-init="hideAdv=true" style="padding-left: 10px">
          <a class="button button-outline button-light button-small" ng-click="hideAdv=!hideAdv">
              <span translate ng-hide="!hideAdv" style="color: #1abb9b">Show Advanced</span>
              <span translate ng-hide="hideAdv" style="color: #1abb9b">Hide Advanced</span>
          </a>
      </div>
      <div ng-hide="hideAdv" class="m10t oh">
          <ul class="no-bullet size-14 m0">
              <li class="line-b p10 oh">
                  <span class="text-gray property-name" translate>Divisible</span>:
                  <span class="right">
                      {{ asset.divisible }}
                  </span>
              </li>
              <li class="line-b p10 oh">
                  <span class="text-gray property-name" translate>Reissuable</span>:
                  <span class="right">
                      <boolean-icon value="asset.reissuable"/>
                  </span>
              </li>
              <li class="line-b p10 oh">
                  <span class="text-gray property-name" translate>Issuance TX</span>:
                  <span class="right pointer enable_text_select long-line" ng-click="openBlockExplorer(asset)">
                    {{ asset.issuanceTxid | limitTo: 38 }}...
                  </span>
              </li>
              <li class="line-b p10 oh">
                  <span class="text-gray property-name" translate>Issuer Address</span>:
                  <span class="right long-line">
                      {{ issuanceTx.vin[0].addr }}
                  </span>
              </li>
              <li class="line-b p10 oh">
                  <span class="text-gray property-name" translate>Issuance Date</span>:
                  <span class="right">
                      <span ng-show="issuanceTx.time">{{ issuanceTx.time * 1000 | date:'dd MMM yyyy hh:mm'}}</span>
                      <span class="text-warning" ng-show="!issuanceTx.time">Unconfirmed</span>
                  </span>
              </li>
          </ul>

          <div ng-show="asset.issuanceTxid">
              <div class="text-center m20t">
                  <button class="button button-outline button-light button-small" ng-click="openBlockExplorer(asset)">
                      <span class="text-gray" style="color: #1abb9b" translate>See it on the blockchain</span>
                  </button>
              </div>
          </div>
      </div>

      <div class="extra-margin-bottom" style="height:30px"></div>
    </div>
  </ion-content>
</ion-modal-view>