<ion-modal-view ng-controller="assetIssueController" style="width: 90%; height: 90%; top: 5%; right: 5%; bottom: 5%; left: 5%; padding: 5px">
  <ion-header-bar align-title="center" class="bar-royal">
    <button class="button button-back button-clear" ng-click="cancel()">
        Close
    </button>
    <h1 class="title ellipsis" translate>Issue new asset</h1>
  </ion-header-bar>

  <ion-content>
    <div class="modal-content" style="padding: 5px">
      <form name="assetIssueForm" ng-submit="issueAsset(assetIssueForm)" ng-disabled="assets.blockUx || home.onGoingProcess" novalidate>
        <div class="box-notification" ng-show="error" ng-click="resetError()">
          <span class="text-warning">
            {{ error|translate }}
          </span>
          <a class="close-notification text-warning">&#215;</a>
        </div>

        <div>
          <div class="row collapse">
            <label for="assetName" class="left">
              <span translate>Name</span>
            </label>
          </div>
          <div class="input">
            <input type="text" id="assetName" name="assetName" ng-disabled="assets.blockUx"  style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
              ng-attr-placeholder="{{'Asset Name' | translate}}" ng-model="issuance.assetName"
              required ng-focus="home.formFocus('assetName')" ng-blur="home.formFocus(false)">
          </div>
        </div>
        <div>
            <div class="row collapse">
              <label for="logoURL" class="left">
                <span translate>Logo URL</span>
              </label>
            </div>
            <div class="input">
              <input type="text" id="logoURL" name="logoURL" ng-disabled="assets.blockUx"  style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
                ng-attr-placeholder="{{'Logo URL' | translate}}" ng-model="issuance.logoURL"
                required ng-focus="home.formFocus('logoURL')" ng-blur="home.formFocus(false)">
            </div>
          </div>
        <div>
          <div class="row collapse">
            <label for="issuer" class="left">
              <span translate>Issuer</span>
            </label>
          </div>
          <div class="input">
            <input type="text" id="issuer" name="issuer" ng-disabled="assets.blockUx"  style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
              ng-attr-placeholder="{{'Issuer' | translate}}" ng-model="issuance.issuer"
              required ng-focus="home.formFocus('issuer')" ng-blur="home.formFocus(false)">
          </div>
        </div>
        <div>
          <div class="row collapse">
            <label for="amount" class="left">
              <span translate>Quantity</span>
            </label>
          </div>
          <div class="input">
            <input type="number" id="amount" ng-disabled="assets.blockUx || home.lockAmount" name="amount"  style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
              ng-attr-placeholder="{{'Quantity'|translate}}" min="1" ng-pattern="/^\d*$/" ng-model="issuance.amount" required autocomplete="off"
              ng-focus="home.formFocus('amount')" ng-blur="home.formFocus(false)">
          </div>
        </div>
        <div>
          <div class="row collapse">
            <label for="description" class="left">
              <span translate>Description</span>
            </label>
          </div>
          <div class="input">
            <input type="text" id="description" name="description" ng-disabled="assets.blockUx"  style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
              ng-attr-placeholder="{{'Description' | translate}}" ng-model="issuance.description"
              ng-focus="home.formFocus('description')" ng-blur="home.formFocus(false)">
          </div>
        </div>
        <div>
          <div class="row collapse">
            <ion-toggle ng-model="issuance.reissuable" toggle-class="toggle-balanced"
              class="cc-inline-switch" ng-disabled="assets.blockUx">
              <span class="toggle-label" translate>Reissuable</span>
            </ion-toggle>
          </div>
        </div>

        <h4 class="title" translate>Metadata</h4>
        <div>
          <div ng-repeat="field in issuance.userData" style="display: flex">
            <div style="flex-basis: 20%; padding-right: 3px;">
              <input type="text" ng-disabled="assets.blockUx" style="background-color: #f4f4f4;padding-left: 5px;"
                ng-attr-placeholder="{{'Name' | translate}}" ng-model="field.key">
            </div>
            <div style="flex-basis: 80%">
              <input type="text" id="description" name="description" ng-disabled="assets.blockUx" style="width: 100%;background-color: #f4f4f4;padding-left: 5px"
                ng-attr-placeholder="{{'Value' | translate}}" ng-model="field.value">
              <a class="postfix size-12 m0" style="background-color: red !important" ng-click="removeField(field)">
                <i class="fi-minus-circle size-18"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center" style="margin-top: 5px;">
          <a ng-click="addField()" class="button button-outline button-light button-large"
            ng-disabled="assets.blockUx">
            <i class="fi-plus size-18 vm"></i>
            <span translate style="color: #1abb9b">Add metadata field</span>
          </a>
        </div>

        <div class="row" ng-show="!home.onGoingProcess">
          <div class="columns"
              ng-class="{'small-6 medium-6 large-6':(home.lockAddress || home.lockAmount)}">
            <div class="size-12 text-center text-gray">
              <span translate>Estimated cost (including network fee): </span>
              <span class="text-bold">{{ estimatedCost }}</span>
            </div>
            <button type="submit" class="button button-outline round button-light button-small"
              ng-disabled="assetIssueForm.$invalid || assets.blockUx ||  index.isOffline"
              style="color: #1abb9b; font-size: 18px" translate>
              Issue
            </button>
          </div>
        </div>
      </form>
      <div class="extra-margin-bottom"></div>
    </div> <!-- END Send -->
  </ion-content>
</ion-modal-view>